*{
    margin: 0;
    padding: 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    box-sizing: border-box;
}

body{
    background-color: gray;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Lato', sans-serif;
    height: 3000px;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

.whatsapp{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
footer div a img{
    width: 50px;
    height: 50px;
}

//extends (Funciones) 

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

//mixins
@mixin templateGrid($columnas) {
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: 50px;
}

@mixin templateFlex ($varJustify) {
    display: flex;
    justify-content: $varJustify;
    align-items: center;

    @if($varJustify==space-between){
        color: red;
    }
}