.header{
    position: sticky;
    top: 0px;
    background-color: #0f172a;
    padding: 30px 20px;
    z-index: 1;

    &__content{
        @extend  .contenedor;
        @include templateFlex(space-between);
             
        &-title{
            color: $primary;
            &:hover::after{
                content: "Inicio";
                color: $primary;
                font-size: 10px;
                margin-left: 5px;
            }
        }

        &-navbar{
            @include templateFlex(space-evenly);
            a{
                margin: 0 10px;
                color: #e2e8f0;
                font-weight: bold;
                transition: 2s;

                &:hover{
                    color: cyan;
                }
            }
            li{
                transition: transform 2s;

                &:last-child{
                    border: 1px solid $primary;
                    border-radius: 10px;
                    padding: 10px;
                }
                &:active{
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .header__content-navbar{
        display: none;
    }
 }