.header{
    position: sticky;
    top: 0px;
    background-color: #0f172a;
    padding: 30px 20px;
    z-index: 1;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title{
            color:#22c55e;
            &:hover::after{
                content: "Inicio";
                color: white;
                font-size: 10px;
                margin-left: 5px;
            }
        }

        &-navbar{
            display: flex;
            align-items: center;

            a{
                margin: 0 10px;
                color: #e2e8f0;
                font-weight: bold;
                transition: 2s;

                &:hover{
                    color: cyan;
                }
            }
            li{
                transition: transform 2s;

                &:last-child{
                    border: 1px solid green;
                    border-radius: 10px;
                    padding: 10px;
                }
                &:active{
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .header__content-navbar{
        display: none;
    }
 }